@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --background-dim-color: color-mix(in lab, var(--border-color), transparent);
        --border-color: #dddddd;
        --link-color: #b84a00;
        --text-color: #000000;
        --text-dim-color: #666666;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1a1a1a;
        --background-dim-color: color-mix(in lab, var(--border-color), transparent);
        --border-color: #555555;
        --link-color: #da854d;
        --text-color: #e0e0e0;
        --text-dim-color: #aaaaaa;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: var(--link-color);
    border-color: var(--link-color);
    text-decoration: underline;
}

a:hover {
    color: var(--text-color);
    border-color: var(--text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    margin: 0 auto;
    max-width: 45rem;
}

/* HEADER */

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}

header>.avatar {
    display: flex;
    flex: 0 0 40%;
    justify-content: center;
}

header>.avatar>img {
    border-radius: 50%;
    border: 1px solid var(--border-color);
    padding: 5px;
    width: 60%;
}

header>.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header>.info>.name {
    font-size: xx-large;
    margin-bottom: 0.5rem;
}

header>.info>.affiliation {
    color: var(--text-dim-color);
}

header>.info>.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

header>.info>.social i.fa {
    color: var(--text-color);
    font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
}

/* NAVIGATION */

nav {
    backdrop-filter: blur(1rem);
    background-color: var(--background-dim-color);
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
}

nav>a {
    color: var(--text-dim-color);
    font-family: monospace;
    font-size: small;
    line-height: 2;
    text-transform: uppercase;
}

nav>span {
    color: var(--text-dim-color);
    margin-inline: 0.75rem;
}

nav>span:last-of-type {
    display: none;
}

/* ARTICLE */

article {
    hyphens: auto;
    line-height: 1.5;
    margin: 0 2rem;
    text-align: justify;
}

article>* {
    margin-bottom: 0.5rem;
}

article>*:has(+h2) {
    margin-bottom: 0 !important;
}

article>h2 {
    padding-top: 2rem;
}

article ol,
article ul {
    padding-left: revert;
}

/* SHORTCODES */

.news {
    margin-bottom: 0;
    width: 100%;
}

.news td:first-child {
    font-size: small;
    min-width: 5rem;
    padding-top: 0.2rem;
    vertical-align: top;
    width: 20%;
}

.news td:not(:first-child) {
    width: 80%;
}

.publication {
    border-left: 2px;
    padding-left: 1rem;
    margin: 1rem 0;
}

.publication:nth-of-type(even) {
    border-left-style: solid;
    border-color: var(--text-dim-color);
}

.publication:nth-of-type(odd) {
    border-left-style: groove;
    border-color: var(--link-color);
}

.publication>em {
    color: var(--text-dim-color);
}

.publication>a {
    border: 1px solid;
    border-radius: 0.2rem;
    font-family: monospace;
    font-size: x-small;
    padding: 0.1rem 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

/* FOOTER */

footer {
    background-color: var(--background-dim-color);
    font-size: small;
    left: 0;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    position: absolute;
    text-align: center;
    width: 100vw;
}
