@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --border-color: #dddddd;
        --footer-color: #6a2b01;
        --link-color: #da854d;
        --link-hover-color: #b84a00;
        --text-color: #000000;
        --text-dim-color: #555555;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1a1a1a;
        --border-color: #555555;
        --footer-color: #6a2b01;
        --link-color: #da854d;
        --link-hover-color: #b84a00;
        --text-color: #e0e0e0;
        --text-dim-color: #aaaaaa;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: all 0.2s ease;
}

a:hover {
    color: var(--link-hover-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
}


i.fa {
    align-self: flex-start;
    color: var(--text-dim-color);
    width: 1.2rem;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Avenir Next", "Avenir", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    margin: 0 auto;
    max-width: 1000px;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
}

header>.avatar {
    align-items: center;
    display: flex;
    flex: 0 0 40%;
    justify-content: center;
}

header>.avatar>img {
    border-radius: 50%;
    border: 1px solid var(--border-color);
    padding: 5px;
    width: 60%;
}

header>.info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

header>.info>.name {
    font-size: x-large;
    font-variant: small-caps;
    margin-bottom: 1.5rem;
}

header>.info>.title {
    color: var(--text-dim-color);
    font-size: large;
    margin-bottom: 1rem;
}

header>.info>.affiliation {
    color: var(--text-dim-color);
    font-size: large;
    margin-bottom: 1rem;
}

header>.info>.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

header>.info>.social>.delimeter:last-child {
    display: none;
}

main {
    align-items: start;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

main>nav {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    font-size: large;
    margin-top: 2rem;
    position: sticky;
    top: 2rem;
}

main>nav>a {
    border-right: 1px solid var(--border-color);
    color: var(--text-dim-color);
    padding: 0.7rem 1.4rem;
    text-align: right;
}

main>nav>a:hover {
    border-right: 3px solid var(--link-color);
    font-weight: 500;
}

main>nav>a>i.fa {
    font-size: 0.9rem;
}

main>article {
    flex: 1 1 auto;
    hyphens: auto;
    margin: 2rem;
    text-align: justify;
}

main>article>h2 {
    margin-bottom: 1rem;
    padding-top: 2rem;
}

main>article>h2:first-child {
    margin-top: -2rem;
}

main>article>h2::after {
    color: var(--text-dim-color);
    content: " # ";
    font-size: large;
}

main>article>*:has(+h2) {
    margin-bottom: 0 !important;
}

main>article>ol,
main>article>ul {
    margin-bottom: 0.5rem;
}

main>article ol,
main>article ul {
    padding-left: revert;
}

main>article>p {
    margin-bottom: 0.5rem;
}

main>article>.news {
    margin-bottom: 0.5rem;
    width: 100%;
}

main>article>.news td:first-child {
    font-size: small;
    min-width: max-content;
    padding-top: 0.2rem;
    padding-right: 0.5rem;
    vertical-align: top;
    width: 15%;
}

main>article>.news td:not(:first-child) {
    width: 85%;
}

main>article>.publication {
    border-left: 2px dashed;
    padding-left: 1rem;
    margin: 1rem 0;
}

main>article>.publication:nth-of-type(even) {
    border-color: var(--text-dim-color);
}

main>article>.publication:nth-of-type(odd) {
    border-color: var(--link-hover-color);
}

main>article>.publication>.tag {
    border: 1px solid var(--link-color);
    border-radius: 0.2rem;
    display: inline-block;
    font-size: x-small;
    font-weight: 500;
    padding: 0.1rem 0.5rem;
}

main>article>.publication>.tag:hover {
    border-color: var(--link-hover-color);
}

footer {
    background-color: var(--footer-color);
    bottom: 0;
    color: white;
    font-size: 0.75rem;
    left: 0;
    padding: 0.25rem 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header>.avatar {
        margin-bottom: 1rem;
        width: 40%;
    }

    header>.info {
        text-align: center;
    }

    header>.info>.title,
    header>.info>.affiliation {
        font-size: medium;
    }

    header>.info>.social {
        justify-content: center;
    }

    header>.info>.social>.delimeter {
        display: none;
    }

    main>nav {
        display: none;
    }

    footer {
        display: none;
    }
}
