{{ define "main" }}

<main>
  <nav>
    <label for="toggle-nav">🌐</label>
    <input id="toggle-nav" type="checkbox">
    {{ range .Site.Menus.main }}
    <a href="{{ .URL | relURL }}">
      {{ .Name | title }}
      {{ $URL := .URL | absURL }}
      {{ if not (or (strings.Contains $URL "localhost") (strings.Contains $URL $.Site.BaseURL)) }}
      <i class="fa fa-up-right-from-square"></i>
      {{ end }}
    </a>
    {{ end }}
  </nav>
  <article>
    {{ .Content}}
  </article>
</main>

{{ end }}
